*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Roboto;
    color: black;
    background-attachment: fixed;
    background-image: url("images/mountain.png");
    flex-flow: column wrap;
    align-items: center;
    flex: auto;
}

h1{
    font-size: 48px;
    font-weight: 900px;
    align-self: flex-start;
}

.container-main{
    display: flex;
    /* border: solid black; */
    height: 800px;
    width: 800px;
    margin: 75px;
    /* backgr ound-color: #1F2937; */
    flex-shrink: 0;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: white;
}

.block3{
    background-color: #3882f6;
    width: 70%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.block-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.container-background{
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-header{
    background-color: white;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 0 0 25%;
    padding: 20px 80px 20px 80px;
    align-items: center;
    background-color: darkslategray;
}

.container-header-right{
   
    margin: 10px;
}

.container-header-right p {
    font-weight: bold;
}

.section2{
    background-color: darkslategray;
    display: flex;
    padding: 20px;
    
}

.context
{
    font-family: 'Inconsolata', Arial, sans-serif;
    max-width: 400px;
    text-align: center;
}

.container-header img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    
}

.projects{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-left {
    padding: 16px;
    width: 300px;
    border: 1px solid #000000;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    flex:1 1 50%;
    margin: 15px 0px 15px 0px;
    background-color: darkslategray;
    
}

.card-right {
    padding: 16px;
    width: 300px;
    border: 1px solid #000000;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    flex:1 1 50%;
    margin: 15px 0px 15px 0px;
    background-color: darkslategray;
    flex-basis: 50%;
    /* margin-left: auto; */
}

.button-class{
 
    background: cyan;

    font-weight: bold;
    font-size: small;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: auto;
    background-color: darkolivegreen;
}

/* .body-main{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/land.png');
     background-color: #1F2937; 
    background-size: 70% 100%;
    background-repeat: no-repeat; 
    background-position: center;
    gap: 50px;
    height: 500px;
    padding-bottom:20px;
}

.header-title{
    color: white;
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap: 500px;
    position: sticky;
    top: 0;
    z-index: 999;

}

a.links{
    color: white;
    border-radius: 5px;
    text-decoration: none;
}



.button-class{
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: #3882F6;
    padding: 5px 0px 5px;
    margin-top: 10px;
    width: 150px;

}

.button-class a{
    color: white;
    text-decoration: none;
}

.header-left p{
    margin-top: 10px;
    font-size: 18px;
}

.body-mid{
    margin: 0;
    min-height: 100vh;
    border-right: solid 1px grey;
    border-left: solid 1px grey;
    /* padding: 550px;     
    flex-shrink: 0;
    background-color: grey;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    padding: 16px;
    width: 300px;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    flex: 1;
  } */