*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Roboto;
    color: black;
}

h1{
    font-size: 48px;
    font-weight: 900px;
    align-self: flex-start;
}

.container-main{
    display: flex;
    border: solid black;
    height: 800px;
    width: 800px;
    margin: 150px;
    background-color: #1F2937;
    flex-shrink: 0;
}

.container-background{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: green;
}

.container-header{
    height: 150px;
    width: 800px;
}

.card {
    padding: 16px;
    width: 300px;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    flex: 1;
}

/* .body-main{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/land.png');
     background-color: #1F2937; 
    background-size: 70% 100%;
    background-repeat: no-repeat; 
    background-position: center;
    gap: 50px;
    height: 500px;
    padding-bottom:20px;
}

.header-title{
    color: white;
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap: 500px;
    position: sticky;
    top: 0;
    z-index: 999;

}

a.links{
    color: white;
    border-radius: 5px;
    text-decoration: none;
}



.button-class{
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: #3882F6;
    padding: 5px 0px 5px;
    margin-top: 10px;
    width: 150px;

}

.button-class a{
    color: white;
    text-decoration: none;
}

.header-left p{
    margin-top: 10px;
    font-size: 18px;
}

.body-mid{
    margin: 0;
    min-height: 100vh;
    border-right: solid 1px grey;
    border-left: solid 1px grey;
    /* padding: 550px;     
    flex-shrink: 0;
    background-color: grey;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    padding: 16px;
    width: 300px;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    flex: 1;
  } */